@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

body {
	font-family: 'Roboto Mono', monospace;
	background: #ECD9D9;
	font-style: normal;
	color: #040404;;
}

p {
	font-weight: 100;
}

h1 {
	font-weight: 300;
	font-size: 3.5rem;
	line-height: 56px;	
	font-family: 'Vampiro One';
}

.container {
	padding: 1rem;
}

.parent {
	display: grid;
	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr;
}

.parent > div {
} 

.right-top {
	align-self: center;
	justify-self: end;
	padding: 3rem 2rem 3rem 2rem;
	background: #fff;
  	box-shadow: 8px 8px 0px #131111;
  	border-radius: 5px;
}

.hw-item {
	background: #B1FCCB;
	border: 5px solid #000000;
	box-shadow: 8px 8px 0px #000000;
	border-radius: 5px;
	margin-top: 2rem;
	padding: 0.5rem;
}

.btn {
	background: #080808;
	box-shadow: 3px 3px 0px #413E3E;
	border: 3px solid black;
	border-radius: 5px;
	color: #fff;
}

@media only screen and (max-width: 600px) {
	.btn {
		width: 100%;
		height: 4vh;
	}
}